################################################################################

MIRRORS_PATH = /mnt/mirrors

################################################################################

ALPINE_VERSIONS = v3.17
ALPINE_ARCHS = aarch64
ALPINE_SUBFOLDERS = main community releases
ALPINE_DEST = $(MIRRORS_PATH)/alpine
ALPINE_URL=rsync://rsync.alpinelinux.org

################################################################################

RPI_FIRMWARE_DEST = $(MIRRORS_PATH)/raspberrypi/firmware

################################################################################

# vi: ft=make
